[Unit]
Description=Centrunk P25 TRS Service (CC)
After=syslog.target zerotier-one.service network.target

[Service]
User=root
Type=forking
ExecStart=/opt/dvm/dvmhost -c /opt/dvm/configCC1.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
